<header class="bg-blue-dark py-6 md:py-10 md:pb-16">
  <div class="content md:flex md:flex-row md:justify-between md:items-center">
    <a href="/" class="inline">
      {% image "./src/assets/img/holderbaum-light.svg", "Logo of Holderbaum GmbH", "h-6 w-auto mx-auto md:mx-0", false %}
    </a>
    <span class="hidden md:inline">
      {% include "components/getintouch-light.njk" %}
    </span>
  </div>
</header>
<div class="bg-blue-dark mb-10 md:mb-16">
  <div class="content flex flex-col items-center md:flex-row-reverse pb-10 md:pb-16">
    <picture class="max-w-sm md:max-w-none md:w-1/2 lg:w-2/3 lg:pl-12 block text-right">
      <source srcset="{% imagePath "./src/assets/img/Keyvisual_02-01.svg" %}"
              media="(min-width: 1024px)" />
      {% image "./src/assets/img/Keyvisual_02-05.svg", "Employees of Holderbaum GmbH collaborationg on a website", "inline-block lg:w-full", false %}
    </picture>
    <article class="max-w-sm md:max-w-none md:w-1/2 lg:w-1/3 pr-0 md:pr-12 lg:pr-0 block">
      <h1 class="pt-10 pb-4 md:pt-0 text-white text-4xl lg:text-5xl leading-extra-tight lg:leading-extra-tight font-sans-heavy text-center md:text-left">Tired of fixing Bugs all Day?</h1>
      <p class="pb-10 md:pb-0 text-white leading-6 lg:leading-7 text-xl lg:text-2xl text-center md:text-left">
        We help software product teams
        reach real productivity
        by refocusing on customer value
        through sustainable feature delivery.
      </p>
      <p class="text-center lg:text-left md:hidden">
        {% include "components/getintouch-light.njk" %}
      </p>
    </article>
  </div>
</div>