html {
  font-size: 20px;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100%;
  position: relative;
}

body > * {
  width: 980px;
  max-width: 980px;
  margin: 0 auto;
}

body > main {
  flex: 1;
}

body > footer {
  width: 100%;
  max-width: 100%;
}

body > footer > nav {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

*, *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #3c3c3c;
  box-sizing: inherit;
  letter-spacing: 0.02rem;
}

h1, h2, h3, h1 *, h2 *, h3 * {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
  font-style: normal;
}

h2, h2 * {
  font-size: 1.3rem;
}

h3, h3 * {
  font-size: 1rem;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 2rem;
}

nav > img {
  display: inline;
  width: 200px;

}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

footer > nav > ul {
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

nav > ul > li {
  list-style: none;
  margin-left: 2rem;
}

footer > nav > ul > li {
  margin: 0;
}

nav > ul > li a {
  text-decoration: none;
  vertical-align: text-bottom;
}

footer {
  background-color: #3c3c3c;
}

footer * {
  color: white;
}


a.button {
  background-color: #3c3c3c;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

section.hero {
}

section.hero > article {
  max-width: 400px;
}

section.offer {
  display: flex;
  flex-wrap: wrap;
}

section.offer > h2 {
  display: block;
  width: 100%;
  text-align: center;
}

section.offer > article {
  flex: 1;
}
