<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Digital Product Development and Consulting"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" href="/assets/fonts/mont-semibold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/mont-light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="{% imagePath "./src/assets/img/Keyvisual_02-05.svg" %}" as="image" media="(max-width: 1023px)">
    <link rel="preload" href="{% imagePath "./src/assets/img/Keyvisual_02-01.svg" %}" as="image" media="(min-width: 1024px)">
    <style>{% include "css/styles.css" ignore missing %}</style>
</head>
<body class="bg-blue-dark">
<main class="bg-white min-h-screen flex flex-col">
    {{ content | safe }}
    <footer class="bg-blue-dark mt-auto pt-10 md:pt-16">
        <div class="content text-center max-w-xl">
            <h1 class="pb-4 text-white text-4xl lg:text-5xl leading-extra-tight lg:leading-extra-tight font-sans-heavy text-center">
                Contact
            </h1>
            <p class="pb-10 text-white leading-6 lg:leading-7 text-xl lg:text-2xl text-center">
                We help software product teams
                reach real productivity
                by refocusing on customer value
                through sustainable feature delivery.
            </p>

            <p>
                {% include "components/getintouch-light.njk" %}
            </p>
            <p class="py-6 md:py-10">
                <a href="/legal/" class="text-white mr-4">Legal</a><a href="/privacy/" class="text-white">Privacy</a>
            </p>
        </div>
    </footer>
</main>
<script type="text/javascript">
{% include "js/matomo.js" %}
</script>
<noscript><p><img src="//m.holderbaum.io/matomo.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
</body>
</html>
