---
layout: layouts/default.njk
---
<header class="py-4">
    <div class="content">
        <a href="/">
            {% image "./src/assets/img/holderbaum.svg", "photo of my cat", "h-6 w-auto mx-auto", false %}
        </a>
    </div>
</header>
<div class="content legal textpage">
    {{ content | safe }}
</div>