.Footer {
  background: var(--color-primary-dark);
}

.Footer .container {
  display: flex;
  flex-direction: column;
}

.Footer .Footer-image {
  width: 200px;
  margin: var(--spacer-3) auto;
}

.Footer .Footer-links {
  margin: 0;
  margin-bottom: var(--spacer-3);
  padding: 0;
  list-style: none;
  text-align: center;
}

.Footer .Footer-links li + li{
  margin-top: var(--spacer-2);
}

.Footer .Footer-links a {
  color: var(--color-light);
  text-decoration: none;
}

.Footer .Footer-links.Footer-links-emph a {
  font-weight: 700;
}
