.Header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--spacer-header);
}

.Header .container {
  display: flex;
  justify-content: space-between;
}

.Header .Header-image {
  max-width: 200px;
}

.Header .Header-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.Header .Header-links > li + li {
  margin-left: var(--spacer-3);
}

.Header a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 700;
}
