.Services .Services-headline {
  text-align: center;
}

.Services .Services-servicelist {
  display: flex;
}

.Services .Services-service {
  flex: 1;
}

.Services .Services-service + * {
  margin-left: var(--spacer-3);
}

.Services .Services-service img {
  width: 100%;
}
