.Services .Services-headline {
  text-align: center;
}

.Services .Services-servicelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Services .Services-service {
  flex: 1;
  max-width: calc(980px / 3);
  min-width: 250px;
  margin: 0 var(--spacer-2);
}

.Services .Services-service img {
  width: 100%;
}


