@font-face{
    font-family:"Mont W05 Light";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/mont-light.woff2") format("woff2"),
    url("/assets/fonts/mont-light.woff") format("woff");
}

@font-face{
    font-family: "Mont W05 SemiBold";
    font-style: normal;
    font-display: swap;
    src: url("/assets/fonts/mont-semibold.woff2") format("woff2"),
    url("/assets/fonts/mont-semibold.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .content {
        @apply container max-w-6xl mx-auto px-4 md:px-10;
    }

    .textpage {
        @apply pt-10 md:pt-20 md:max-w-4xl;
    }
    .textpage h1 {
        @apply text-4xl font-sans-heavy mb-8;
    }
    .textpage h2 {
        @apply text-3xl font-sans-heavy mb-6;
    }
    .textpage h3 {
        @apply text-2xl font-sans-heavy mb-6;
    }
    .textpage h4 {
        @apply text-2xl font-sans mb-4;
    }
    .textpage p {
        @apply text-lg lg:text-xl mb-4;
    }
}
