---
layout: layouts/default.njk
title: Holderbaum - Product Consulting
---

{% include "components/hero.njk" %}

{% macro service(path, title, body, css) %}
  {% set css = css|default('') %}
  <article class="w-full pb-16">
    <div class="max-w-sm md:max-w-none mx-auto flex flex-col md:items-center {{ css }}">
      {% image path, '', "w-full max-w-sm md:max-w-none md:w-1/2 mx-auto block" %}
      <div class="inline md:w-1/2 md:mx-12">
        <h2 class="text-center md:text-left font-sans-heavy pt-4 pb-4 md:pt-0 text-3xl lg:text-4xl leading-extra-tight lg:leading-extra-tight">{{ title | safe }}</h2>
        <p class="text-center md:text-left leading-6 lg:leading-8 text-xl lg:text-2xl text-center md:text-left">
        {{ body | safe }}
        </p>
      </div>
    </div>
  </article>
{% endmacro %}

<div class="content flex flex-col items-center">
  {{
  service(
    "./src/assets/img/Keyvisual_02-04.svg",
    'Interim CTO &amp;<br class="md:hidden"> Team Lead',
    "From startups to global scale enterprises: We have built and
    shaped many teams on their journey towards technical excellence.",
    "md:flex-row md:-mr-12"
  )
  }}
  {{
  service(
    "./src/assets/img/Keyvisual_02-03.svg",
    'Agile Coaching &amp;<br class="md:hidden"> Advisory',
    'Agility means to focus your business on user value.
    We support you to establish a lean, value centered process
    as an enabler for innovation.',
    "md:flex-row-reverse md:-ml-12"
      )
  }}
  {{
  service(
    "./src/assets/img/Keyvisual_02-02.svg",
    'User Research &amp;<br class="md:hidden"> UX Design',
    "Emphasis on actual user value is the key to a successful product.
    We help amplify your customer's voice to shape your digital product.",
    "md:flex-row md:-mr-12"
  )
  }}
  {{
  service(
    "./src/assets/img/Keyvisual_02-06.svg",
    'Infrastructure &amp;<br class="md:hidden"> Operations',
    'Successfully operating digital products starts at the development.
    Our experience in building and operating software on-premises and in the cloud
    can help you to reach stability, scalability and security.',
    "md:flex-row-reverse md:-ml-12"
  )
  }}
</div>

{% macro article(link, title, body) %}
  <article class="w-full md:w-1/2 my-8 md:mb-0">
    <a
            href="{{ link }}"
            class="max-w-sm md:max-w-md mx-auto h-full flex flex-col border-2 border-blue-dark hover:border-blue-light rounded-xl transition-colors transit duration-200"
    >
      <h2 class="p-4 xl:p-8 text-2xl  font-sans-heavy">{{ title }}</h2>
      <p class="pt-0 p-4 xl:pt-0 xl:p-8 text-lg lg:text-xl mt-auto">{{ body | safe }}</p>
      <p class="pt-0 p-4 xl:pt-0 xl:p-8 text-lg lg:text-xl mt-auto underline text-blue-dark">
        Read more
      </p>
    </a>
  </article>
{% endmacro %}

<!--
<h1 class="mb-8 text-4xl font-sans-heavy text-center">Recent Articles</h1>

<div class="content mb-8 md:mb-16 flex flex-col items-center md:items-stretch md:flex-row md:flex-wrap md:justify-center">
  {{
    article(
      '/articles/SharedSecrets/',
      'Managing Team Secrets Effectively',
      'How to share secret information among your team members in a secure and automation friendly fashion.'
    )
  }}
  {{
    article(
      '#',
      'Wishful Thinking',
      'To me, one of the toughest challenges of creating software is
      dealing with different levels of abstraction and detail.'
    )
  }}
</div>

<a
        href="#"
        class="mb-16 text-lg lg:text-xl py-3 px-6 inline mx-auto rounded-xl font-sans-heavy text-white bg-blue-dark hover:bg-blue transition-colors transit duration-200"
>
  All Articles
</a>

-->