---
layout: layouts/legal.njk
title: Holderbaum - Product Consulting
---

<h1>Site Notice</h1>

<h2>Information pursuant to Sect. 5 German Telemedia Act (TMG)</h2>
<p>Holderbaum GmbH<br />
    Kurfürstenstr. 38<br />
    54395 Trier</p>

<p>Commercial Register: HRB 45159<br />
    Registration court: Amtsgericht Wittlich</p>

<p><strong>Represented by:</strong><br />
    Christina Holderbaum<br />
    Jakob Holderbaum</p>

<h2>Contact</h2>
<p>Phone: +49 (0) 151 / 708 161 45<br />
    E-mail: jakob@holderbaum.io</p>

<h2>VAT ID</h2>
<p>Sales tax identification number according to Sect. 27 a of the Sales Tax Law:<br />
    DE319672148</p>

<h2>Information regarding professional liability insurance</h2>
<p><strong>Name and registered office of the insurer:</strong><br />
    Hiscox SA<br />
    Arnulfstraße 31<br />
    80636 München</p>
<p><strong>Scope of insurance:</strong><br />Deutschland</p>

<h2>Person responsible for editorial</h2>
<p>Jakob Holderbaum<br />
    Kurfürstenstr. 38<br />
    54295 Trier</p>

<h2>EU dispute resolution</h2>
<p>The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>.<br /> Our e-mail address can be found above in the site notice.</p>

<h2>Dispute resolution proceedings in front of a consumer arbitration board</h2>
<p>We participate in a dispute settlement procedure before a consumer arbitration board. The competent consumer arbitration board is Zentrum für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein (<a href="https://www.verbraucher-schlichter.de" rel="noopener noreferrer" target="_blank">https://www.verbraucher-schlichter.de</a>).</p>

<h3>Liability for Contents</h3> <p>As service providers, we are liable for own contents of these websites according to Paragraph 7, Sect. 1 German Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.</p> <p>Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.</p> <h3>Liability for Links</h3> <p>Our offer includes links to external third-party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.</p> <p>The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we get knowledge of them.</p> <h3>Copyright</h3> <p>Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only.<br /> The commercial use of our contents without permission of the originator is prohibited.</p> <p>Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.</p>
