<section class="Hero">
  <div class="container">
    <article class="Hero-text">
      <h2>We help Software Teams grow.</h2>
      <p>
      We are Chrissi &amp; Jakob. We help crossfunctional Software Teams
      to build better, safer and more ethical products.
      </p>
      <a href="#" class="Button">Get in touch</a>
    </article>
    <img class="Hero-image" src="/images/keyvisual-desktop-2.svg"/>
  </div>
</section>

<section class="Blank">
  <div class="container"><p>Content will follow</p></div>
</section>

<section class="Services">
  <div class="container">
    <h2 class="Services-headline">What We Offer</h2>
    <div class="Services-servicelist">
      <article class="Services-service">
        <img src="/images/consulting-05.svg"/>
        <h3>Agile Development &amp; Team Coaching</h3>
        <p>
        This is an explanation of what we mean by "Events".
        </p>
      </article>
      <article class="Services-service">
        <img src="/images/consulting-04.svg"/>
        <h3>Individual Workshops &amp; Trainings</h3>
        <p>
        This is an explanation of what we mean by "Events".
        </p>
      </article>
      <article class="Services-service">
        <img src="/images/consulting-03.svg"/>
        <h3>Conferences, Events & Meetups</h3>
        <p>
        This is an explanation of what we mean by "Events".
        </p>
      </article>
    </div>
  <div class="container">
</section>

<section class="Blank">
  <div class="container"><p>Content will follow</p></div>
</section>
