<section class="Hero">
  <div class="container">
    <article class="Hero-text">
      <h2>We help Software Teams grow.</h2>
      <p>
      We are Chrissi &amp; Jakob. We help crossfunctional Software Teams
      to build better, safer and more ethical products.
      </p>
      <a href="#" class="Button">Get in touch</a>
    </article>
    <img class="Hero-image" src="/images/keyvisual-desktop-2.svg"/>
  </div>
</section>

<section class="Blank">
  <div class="container"><p>Content will follow</p></div>
</section>

<section class="offer">
  <h2>What we offer</h2>
  <article>
    <h3>Consulting</h3>
    <p>
    This is an explanation of what we mean by "Events".
    </p>
  </article>
  <article>
    <h3>Trainings &amp; Workshops</h3>
    <p>
    This is an explanation of what we mean by "Events".
    </p>
  </article>
  <article>
    <h3>Community Events</h3>
    <p>
    This is an explanation of what we mean by "Events".
    </p>
  </article>
</section>

