<section class="Hero">
  <div class="container">
    <article class="Hero-text">
      <h2>We help Software Teams grow.</h2>
      <p>
      We are Chrissi &amp; Jakob. We help crossfunctional Software Teams
      to build better, safer and more ethical products.
      </p>
      <a href="#" class="Button">Get in touch</a>
    </article>
    <img class="Hero-image" src="/images/keyvisual-desktop-2.svg"/>
  </div>
</section>

<section class="Blank">
  <div class="container"><p>Content will follow</p></div>
</section>

<section class="Services">
  <div class="container">
    <h2 class="Services-headline">What We Offer</h2>
    <div class="Services-servicelist">
      <article class="Services-service">
        <img src="/images/consulting-05.svg"/>
        <h3>Agile Development <br>&amp; Coaching</h3>
        <p>
        By becoming part of your team as developer, UX designer or tech lead,
        we can experience your delivery challenges first-hand. As part of the
        process, we can provide hands-on-coaching on the job.
        </p>
      </article>
      <article class="Services-service">
        <img src="/images/consulting-04.svg"/>
        <h3>Workshops &amp;<br>Trainings</h3>
        <p>
        Sometimes, the best way to grow is individual training focussing on key
        aspects of your journey. We can bring this kind of coaching into your
        company.
        </p>
      </article>
      <article class="Services-service">
        <img src="/images/consulting-03.svg"/>
        <h3>Conferences,<br>Events &amp; Meetups</h3>
        <p>
        We love to build events that! Besides the <a
        href="https://think-about.io/">Think About! Conference</a> we are also
        regulary doing Meetups in Cologne. Why don't you <a href="">come by</a>
        for a chat?
        </p>
      </article>
    </div>
  <div class="container">
</section>

<section class="Blank">
  <div class="container"><p>Content will follow</p></div>
</section>
